<% if entry.comments.size > 0 %>
    <header>
        <h1 class="comment-title">コメント一覧</h1>
    </header>
    <ul id="comments">
        <% entry.comments.reverse.map.with_index(1) do |comment, i| %>
        <li id="comment-<%= comment.id %>" class="comment">
            <div class="comment-body">
                <%= hbr comment.body %>
                <footer>
                    <span class="name">
                        <%= link_to_unless comment.homepage.blank?, comment.name, comment.homepage %>
                    </span>
                    <span class="date">
                        <%= comment.created_at.to_date %>
                    </span>
                </footer>
            </div>
        </li>
          <% if entry.comments.size > i %>
              <hr>
          <% end %>
        <% end %>
    </ul>
<% end %>
<div class="comment-form">
    <%= comment_form %>
</div>
