<div class="article section">
  <div class="header">
    <h2 class="title"><a href="<%= @entry.link %>"><%= @entry.title %></a></h2>
  </div>
  <div class="body">
    <%= @entry.body %>
  </div>
  <div class="footer">
    <%= tweet_button("http://a-newcomer.heroku.com/#{@entry.id}") %>
    <%= hatena_bookmark_button(@entry.title, "http://a-newcomer.heroku.com/#{@entry.id}") %>
    <div class="created_at"><%= l @entry.created_at.to_time %></div>
    <%= @entry.tags_to_html %>
  </div>
</div>
<div id="comment">
  <%= partial "comment", :locals => {:entry => @entry} %>
</div>
